/*폰트*/
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

/*base*/
* {
    margin: 0;
    padding: 0;
}

:root {
  --accent-color: #ff7710;
  --text-color: #686868;
  --background-color: white;
}

.body {
    margin: 0;
    font-family: 'Pretendard-Regular';
}

a {
    text-decoration: none;
    color: var(--text-color);
}

/*nav*/
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--background-color);
    padding: 10px 100px; 
    padding-bottom:2px;
    border-bottom: 0.5px solid #FFFFFF;
    box-shadow: 0px 4px 6px -4px rgba(93, 93, 93, 0.25);
    
}

.nav_logo {
    display: flex;
    color: #1c1b1a;
    align-items:center;
}

.logotxt{
    font-size: 24px;
    font-weight: bold;
}

.nav_menu {
    display: flex;
    list-style: none;
    padding-left: 0;
}
  
.nav_menu li {
    padding: 8px 16px;
}
  
.nav_menu li:hover {
    color: var(--background-color);
    background-color: var(--accent-color);
    border-radius: 4px;
}
  
.nav_menu li a:hover {
    color: var(--background-color);
}



/*공지사항 목록*/
.container{
  padding-top: 100px;
  width: 950px;
  margin: 0 auto;
}

ul.tabs{
  margin: 0px;
  padding: 0px;
  list-style: none;
  border-bottom: 0.5px solid #FFFFFF;
  box-shadow: 0px 4px 4px -4px rgba(107, 107, 107, 0.25);
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

ul.tabs li{
  background: none;
  color: var(--text-color);
  display: inline-block;
  padding: 10px 15px;
  cursor: pointer;
  font-weight:bold;
  
}

ul.tabs li.current{
  background: transparent;
  color: var(--accent-color);
}

.tab-content{
  display: none;
  background: transparent;
  padding: 15px;
}

.tab-content.current{
  display: inherit;
}

/*검색창*/
.search{
  width: auto;
  height: 34px;
  display: flex;
  float: right;
  margin-top: 10px;
}

.search-box {
width: auto;
border: 1px solid #bbb;
border-radius: 8px;
padding: 10px;
line-height: 0.5;
}

.find{
  outline: none;
  font-size: 14px;
  border: none;
}

.search-box img{
  width: 6%;
  float: right;
  
}

.search p{
  padding: 8px 12px;
  text-decoration: underline;
  float: right;
  font-size: 14px;
}


/*공지사항 내용 테이블*/
table {
  margin-top: 100px;
  width: 100%;
  border: 1px solid #fff;
  border-collapse: collapse;
}
th, td {
  border: 1px solid #fff;
}
td a{
  color: black;
  font-size: medium;
  font-weight: bold;
}
td a:hover {
  color: var(--accent-color);
}







/*mobile ver*/

@media (max-width: 850px) {
    .menu1{
        display: none;
    }
    
    

}

@media (max-width: 500px) {
  .menu1{
    display: none;
  }
  .tb-menu{
    display: none;
  }
  
  .container{
    padding-top: 40px;
    width: 90%;
    margin: 0 auto;
  }

  
  ul.tabs{
    margin: 0px;
    padding: 0px;
    list-style: none;
    border-bottom: 0.5px solid #FFFFFF;
    box-shadow: 0px 4px 4px -4px rgba(107, 107, 107, 0.25);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    font-size: smaller;
    
  }

  ul.tabs li{
    background: none;
    color: var(--text-color);
    display: inline-block;
    padding: 10px 3px;
    cursor: pointer;
    font-weight:bold;
    flex-basis: 30%;
    display: flex;
    flex-direction: column;

  }

  .search{
    width: auto;
    height: 34px;
    display: flex;
    margin-top: 10px;
  }

  .search p{
    display: none;
  }

}




  


